.design-layout{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron{
    background-color: white !important;
}

.design-layout button{
    background-color: #ffee9b;
    border: #ffee9b;
    color: black;
}
.design-layout button:hover{
    background-color: orange;
    border: #ffee9b;
    color: black;
}
