.display-3 {
    color: #F56F08;
    align-items: center;
    margin-bottom: 38px;
}

.link-text {
    color: #F56F08;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 2px;
}

.link-texet:hover {
    color: #ff8533;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 15px;
    letter-spacing: 2px;
    margin-left: 30px;
}

.form1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 20px;
}