.app {
    background-color: white;
    width: 55%;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 60px 22%;
    text-align: center;
}

.score-section {
    display: flex;
    font-size: 24px;
    color: #F56F08;
    align-items: center;
    font-weight: bolder;
}

/* QUESTION/TIMER/LEFT SECTION */

.question-section {
    width: 100%;
    position: relative;
    margin: 1em;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 32px;
    color: #F56F08;
    font-weight: bolder;
    margin: 10px 15%;
}

.div1 {
    font-size: 22px;
    color: #F56F08;
    margin-left: -105px;
}

.question-text {
    margin: 20px 25%;
    font-size: 22px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */

.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioBtn {
    padding: 5px;
    margin: 5px 30%;
}

.btn-primary {
    background-color: #F56F08;
    color: #ddd;
    border: 1px solid #ddd;
    margin-left: 80%;
}

.btn-primary:hover {
    background-color: #21bf73;
    border: 1px solid #21bf73;
}

.btn-success {
    padding: 5px 25px;
    background-color: #F56F08;
    margin-right: 10em;
}

/*.button1 {
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    color: #F56F08;
    background-color: #ffee9b;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #F56F08;
    cursor: pointer;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

.button1:hover {
    background-color: #ffb366;
    color: #cc5200;
}

.button1:focus {
    outline: none;
}

.button1 svg {
    margin-right: 5px;
} */